*{margin:0 ; padding:0; border:0; outline:0; text-decoration:none; list-style:none; }
table{ text-align:center; padding:0; margin:0}
table td{ text-align:center;padding:0; margin:0}
.class{text-align:center; color:#f00}
body{ text-align:center; background-color:#000}
body table{ margin:20px auto 0; text-align:center; border:5px solid #f00; padding:10px; border-radius:5px; box-shadow:0 0 5px #ccc; outline:2px solid #fff; outline-offset:5px ; background-color:#fff}
.left{position:fixed; top:0; bottom:0; left:0; width:20%; background-color:#666; border-radius:0 50%  0 0}
.right{position:fixed; top:0; bottom:0; right:0; width:20%;background-color:#666; border-radius: 50% 0 0 0 }
.left span,.right span{ display:block; text-align:center; margin-top:150px }
.left span i,.right span i{ font-size:100px;}
.left span.player,.right span.player{ font-size:100px;}
.green{color:#0f0}
.red{color:#f00}
strong{margin-top:40px; font-size:25px;}
.full{position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.8);}
.full p{color:#fff; text-align:center; font-size:40px; margin-top:10%; transition:all 1s;}
.hide{transform:scale(0);}
