/*
Author Name: T.T.Bharathi kannan
Phone:9042964258
Email:trkannan95@gmail.com
*/
*{margin:0; padding:0; outline:0; border:0; text-decoration:none; list-style:none; box-sizing:border-box}
.wrapper{width:100%; overflow:hidden;}
body{overflow:hidden; background-image:url(../images/bg.gif); background-size:100% ; background-position:0 -170px}
.layout{width:100%; margin:0 auto; box-shadow:0 0 5px #000;height:359px; position:relative; background-color:#fff;}
.box{ padding:5px; margin-top:50px; width:100%;}
.box h4{padding:15px 0; text-align:center; font-size:40px;letter-spacing:1px; transition:all 0.5s; color:#06C}
.box h4:hover{letter-spacing:5px; color:#fff}
.skyblue,.sky,.grass,.grassfan{width:100%; position:absolute; top:0; left:0; bottom:0 ; right:0}
.skyblue{z-index:1; background-image:url(../images/sky1.png); background-position:0 0; background-repeat:repeat-x}
.sky{z-index:2;background-image:url(../images/cloud.png);background-position:0 20px; background-repeat:repeat-x; transform:all 0.5s}
.grass{z-index:3;background-image:url(../images/hill2.png);background-position:left 78%; background-repeat:repeat-x;transform:all 0.5s}
.grassfan{z-index:4;background-image:url(../images/hill-with-windmill.png);background-position:bottom left; background-repeat:repeat-x}
.bird1{width:180px; position:absolute; height:123px; z-index:5;background-image:url(../images/bird1.png);background-position:0 0; background-repeat:no-repeat; right:0; transition:top 0.5s,left 0.5s, right 0.5s; bottom 0.5s;}
.bird2{width:180px; position:absolute;height:123px; z-index:6;background-image:url(../images/bird2.png);background-position:0 0; background-repeat:no-repeat;transition:top 0.5s,left 0.5s, right 0.5s; bottom 0.5s; transform:scale(0.8)}