
/*
Author Name:T.T.Bharathikannan
Phone:9042964258
Email:trkannan95@gmail.com
*/
*{margin:0; padding:0; outline:0; border:0; text-decoration:none; line-height:25px; font-size:14px;list-style:none;box-sizing:border-box}
body{ background-color:#000; overflow:hidden}
.wrapper{width:100%;}
.box{position:fixed; width:80%;  height:400px; background-color:#f7f7f7; border:5px solid #333; outline:1px solid #fff; overflow:hidden}
.minbox{width:50px; height:50px; border-radius:100%; background-color:#F63; border:1px solid #000; position:absolute; top:0; left:10px; z-index:99}
.minbox::after{    content: "";    position: absolute;    border-width: 11px 22px 1px 11px;    border-style: solid;    border-color: red #FFEB00 transparent transparent;    top: 38%;    right: -46%;    transform: rotate(0deg);    border-radius: 100%;z-index:-1;}
.minbox::before{ content: "";    position: absolute; top:7px; left:16px; padding:4px; border-radius:100%; background-color:#000; border-width:2px; border-style:solid; border-color:#fff}
.box ul{float:right; position:relative;left:-50px; }
.box ul li{position:absolute;  width:35px; display:inline-block; float:left;  margin-right:90px}
.incspeed{position:absolute; top:5px; right:5px; border-radius:5px; background-color:#FDE80C; color:#000; font-weight:bold;line-height:20px; padding:5px; font-size:30px; height:30px; text-align:center; cursor:move}
.decspeed{position:absolute; bottom:0; right:0; border-radius:5px; background-color:#fff; color:#000; font-weight:bold;line-height:20px; padding:5px; font-size:30px;height:30px; width:30px; text-align:center; cursor:move}
.barbar{box-shadow:0 0 1px #000}
.overleft{position:fixed; top:0; left:0; bottom:0; width:50%; background-color:#000; transition:all 1s}
.overright{position:fixed; top:0; right:0; bottom:0; width:50%; background-color:#000;transition:all 1s}
.overleft h1,.overright h1{color:#fff; font-size:40px; padding:50px 0 20px}
.overleft h2,.overright h2{color:#0f0; font-size:30px; padding:20px 0 20px}
.overleft p,.overright p{color:#ff0; font-size:20px; padding:20px 0 20px}
.play{position:fixed; width:30%; margin:0 auto; padding:10px 15px; background-color:#fff; color:#000; border:1px solid #f00; border-radius:25px; z-index:999999999999; bottom:15%;left:35%; display:block; text-align:center; font-size:30px; font-weight:bold;transition:all 1s}
.one{bottom:120%; }
.two{left:-100%}
.three{ right:-100%;}
