﻿h3{text-align:center; padding:20px 0; color:#FE980F; width:600px; border-radius:100%; box-shadow:0 0 5px #ccc inset; margin:10px auto;}
.upload .uploaddiv .fileupload{width:100%;  border-radius:5px; box-shadow:0 0 5px #ccc inset ; position:relative; display:inline-block; margin:5px auto; padding:60px 0; text-align:center; background-size:100% 100%; background-repeat:no-repeat}
.upload .uploaddiv .fileupload i{ font-size: 16px;    padding: 2px;    border-radius: 100%;    text-align: center;    display: inline-block;    line-height: 29px;    margin: 0 auto;    width: 27px;    font-style: normal;    background-color: #FE980F;    color: #fff;    height: 27px;}
.upload .uploaddiv .fileupload input[type="file"]{position:absolute; top:0; bottom:0; left:0; right:0; width:100%; opacity:0;-moz-opacity:0;-webkit-opacity:0; }
.upload{width:600px; margin:0 auto;}
.uploaddiv{width:33.333%; float:left;}


