*{margin:0; padding:0; border:0; outline:0; text-decoration:none; list-style:none; box-sizing:border-box}
body{}
.tab{width:100%; padding:10px 0; box-shadow:0 0 5px #ccc inset; height:400px}
.tab ul{display:table; width:100%;  margin:10px 0;}
.tab ul li{display:table-cell; margin:0 10px;}
.tab ul li a{display:inline-block; padding:10px 20px; background-color:#69F; color:#fff; border-radius:5px; width:96%; text-align:center; margin:2%; }
.tab ul li a.active{background-color:#fff; color:#69F; box-shadow:0 0 5px #69F inset}
.subdiv{ margin:0 10px; text-align:center; transition:all 0.5s; background-color:#69F; width:100%; display:block; }
.subdiv h4{margin:30px 0; font-size:40px; color:#fff}
.subdiv p{ line-height:40px; margin:20px 0 50px; color:#fff}
.tabgroup{position:relative}
