*{margin:0; padding:0; outline:0; border:0; list-style:none; text-decoration:none;}
.clock{position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.7)}
.clockroll{width:200px; box-shadow:0 0 5px #fff, inset 0 0 5px #fff; border-radius:100%; padding:10px 7px; position:relative; top:100px; left:0%; display:inline-block; overflow:hidden; margin:1%;  border:10px solid transparent;}
.min,.hour,.second,.midpoint{position:absolute; left:0; right:0; bottom:0; top:0; transform-origin:center center; transition:all 0s;}
.midpoint img{margin-top:47%;}
.min img{margin-top:20%;}
.hour img{margin-top:32%;}
.second img{margin-top:17%;}
.min img,.hour img,.second img,.midpoint img{ position:relative}
.min{transform:rotate(10deg); }
.hour{transform:rotate(50deg);}
.second{transform:rotate(90deg);}
h2{color:#fff; text-align:center; margin-top:50px;}