*{margin:0; padding:0; outline:0; border:0; text-decoration:none; list-style:none ; box-sizing:border-box;}
.full{width:100%; overflow:hidden}
.layout{width:100%; margin:0 auto; display:block}
.layout1{width:980px; margin:0 auto; display:block}
body{background-image:url(../img/body.png); background-color:#000}
.slide1{width:100%; padding:10px 5px;margin-top:8%;position:relative; height:500px  }
.subslide1 img{width:100%;height:500px }
.slidenavleft,.slidenavright{position:absolute; top:0; width:8%; bottom:0; background-color:rgba(0,0,0,0.4); text-align:center}
.slidenavleft{left:0}
.slidenavright{right:0}
.slidenavleft img,.slidenavright img{position:absolute; top:40%; border-radius:100%; width:40%; left:30%;}
.subslide1,.subslide2{position:absolute; top:0; left:0; right:0; bottom:0; transition:all 0.5s; overflow:hidden }
.subslide1 p{position:relative; text-align:center; padding:10px; bottom:50px; display:block; left:0; right:0;background-color:rgba(0,0,0,0.8);color:#fff}
.links{position:fixed; text-align:center; top:0;left:0; right:0; padding:17px 0}
.links  a{  background-color: #fff;    border-radius: 100%;    display: inline-block;    margin: 0 10px;    padding:8px  15px;    border: 3px solid #ccc;    box-shadow: 30px 30px 0px transparent,30px -30px 0px transparent,-30px 30px 0px transparent,-30px -30px 0px transparent;transition:all 1s;color:#000;text-shadow: 0px 0px 0px #fff,0px 0px 0px #fff,0px 0px 0px #fff,0px 0px 0px #fff;  }
.links  a:hover,.links  a.active{transition:all 1s; box-shadow:0 0 0 #fff,0 0 0 #fff,0 0 0 #fff,0 0 0 #fff; background-color:#000; transition-delay:0; transform:scale(0.8);color:#fff;text-shadow: 30px 30px 0px transparent,30px -30px 0px transparent,-30px 30px 0px transparent,-30px -30px 0px transparent;}
.slidenav2{position:absolute;bottom:0; right:0; z-index:99999; padding:5px 20px}
.imglink{position:absolute; bottom:0%; left:0; right:0; text-align:center; padding;5px 0}
.imglink img{width:90px; height:70px; padding:5px; border-radius:5px; border:2px solid #fff; margin:0 5px; background-color:#000}
.small{transform:scale(0.8);}
ul li{width:18%; margin:1%; border-radius:5px; float:left; padding:5px; box-shadow:inset 0 0 5px #fff}
ul li img{width:100%;}
.popup{position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.8); text-align:center}
.popup img.popimage{width:50%; margin-top:100px; padding:10px; border-radius:10px; border:10px solid #fff; }
.closeimg{display:block; width:50px; margin:20px auto 0; }
.leftfix,.rightfix{position:fixed; top:0; bottom:0; width:15%; text-align:center;background-color:rgba(255,255,255,0.2);}
.leftfix{left:0}
.rightfix{right:0}
.leftfix img,.rightfix img{ position:absolute; top:45%;}
.hide{display:none}

