/*
Developed By Bharathi kannan
email : trkannan95@gmail.com
phone:9042964258

*/

*,ul{margin:0; padding:0; text-decoration:none;transition:all 0.1s; box-sizing:border-box ;}
img{outline:0 none;}
li{ list-style:none}
a{ text-decoration:none;}
body{ overflow:hidden; background-image:url(../img/bg.png); background-repeat:repeat; background-position:0 0 ; } 
.gun{ position:fixed; bottom:10px; }
.bullet{position:fixed;opacity:0}
.terror {position:relative;  width:800px; margin:0 auto; left:0}
.terror ul{width:100%; margin:5px auto 10px; display:table; text-align:center; }
.terror ul li{display:table-cell}
.terror ul li img{ transform:rotate(180deg); position:relative;}
.menu{ position:fixed; top:0; left:0; right:0; bottom:0; border:50px solid #000; background-color:#fff; text-align:center; z-index:99;transition:all 0.5s;}
.menu img{margin:20px 0}
.menu h3{    margin: 20px 0;    font-size: 30px;    color: #8A3939;    font-weight: normal;    /* text-decoration: underline; */    padding-bottom: 10px;}
.menu  ul{padding:30px; border:1px solid #000; width:350px; margin:0 auto; border-radius:50px}
.menu  ul li{  line-height:30px; margin-bottom:10px}
.menu a{ display: inline-block;    padding: 10px 20px;    border-radius: 5px;    color: #383330;    background-color: #DFAC00;    font-weight: bold;    box-shadow: 1px 1px 3px 0 #000;}
.close{ transform:scale(0); transition:all 0.5s;}
.closelink{ position:fixed; bottom:0; right:0; display: inline-block;    padding: 10px ;    border-radius: 5px;    color: #000;    background-color: #DFAC00;    font-weight: bold;    box-shadow: 1px 1px 3px 0 #000;}
.bulletbalence{    position: fixed;    top: 0;    right: 0;    padding: 15px 15px;    background-color: #fff;    border-radius: 0 0 100% 100%;    font-weight: bold;    border-bottom: 7px solid #DFAC00;}
