*{margin:0; padding:0; border:0; outline:0; text-decoration:none; list-style:none; box-sizing:border-box; transition:all 0.5s}
body{ background-color:#000}
.fixed{position:fixed; top:0; bottom:0; right:0; width:10%; background-color:rgba(255,255,255,0.2); box-shadow:0 0 5px #fff inset; color:#fff; padding:0px;}
.fixed ul{width:100%; padding:10px; text-align:center}
.fixed ul  img{width:50%; border-radius:5px; border:1px solid #000; margin:5px auto; display:block; }
.wrapper{width:90%; position:fixed; top:0; bottom:0; left:0; overflow-X:hidden}
.wrapper h3,.fixed h3{ text-align:center; border-bottom:1px solid #fff; padding:50px; color:#fff;}
.wrapper ul{width:100%; padding:30px 20px; text-align:center }
.wrapper ul li{float:left; border:1px solid #fff; width:18%; margin:1%; }
.wrapper ul li img{width:100%; height:250px}
.wrapper ul li a{ display:block; padding:10px 20px ; color:#fff; background-color:#000; border:2px double #fff; width:60%; text-align:center; margin:10px auto }